[submodule "vendor/design-dna"]
	path = vendor/design-dna
	url = https://github.com/zanwei/design-dna
[submodule "vendor/guided-review"]
	path = vendor/guided-review
	url = https://github.com/AkaraChen/guided-review
